## 1. Numpy
### 1.1 Numpy 배열

In [2]:
import numpy as np

- numpy n - dim array(ndarray) vs list

In [59]:
l = [1, 2, 3 ,4 , 5]
l * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [60]:
n = np.array([1,2,3,4,5])
n * 2

array([ 2,  4,  6,  8, 10])

In [61]:
# 모든 수의 제곱수
[i * i for i in l]

[1, 4, 9, 16, 25]

In [62]:
np.square(n)

array([ 1,  4,  9, 16, 25])

- 1차원 배열(Vector)

In [63]:
a = np.array((1,2,3,4,5))
type(a)

numpy.ndarray

In [64]:
a.dtype, a.shape, a.ndim, a.size

(dtype('int32'), (5,), 1, 5)

In [65]:
# 벡터화 연산
a * 2

array([ 2,  4,  6,  8, 10])

In [66]:
b = np.array([10, 20 , 30 , 40 , 50])
c = 2 * a + b
c

array([12, 24, 36, 48, 60])

In [67]:
a == 2

array([False,  True, False, False, False])

In [14]:
b > 20

array([False, False,  True,  True,  True])

- 2차원 배열(Matrix)

In [17]:
c = np.array([[1, 2, 3], [4,5,6]])
c = np.arange(1,7).reshape(2, 3)
c

array([[1, 2, 3],
       [4, 5, 6]])

In [16]:
c.dtype, c.shape, c.ndim, c.size

(dtype('int32'), (2, 3), 2, 6)

- 3차원 배열(Tensor)

In [19]:
d = np.arange(1, 25).reshape(2, 3, 4)           # plane,row,column
d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [20]:
d.dtype, d.shape, d.ndim, d.size

(dtype('int32'), (2, 3, 4), 3, 24)

- 배열의 인덱싱

In [58]:
a

NameError: name 'a' is not defined

In [24]:
a[0],a[3],a[-1]

(1, 4, 5)

In [25]:
c

array([[1, 2, 3],
       [4, 5, 6]])

In [26]:
c[0][0], c[0,0]

(1, 1)

In [27]:
c[1, 0], c[0, -1],c[-1, -1]

(4, 3, 6)

In [28]:
d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [29]:
# 9, 20
d[0, -1, 0], d[-1, 1, -1]

(9, 20)

- 배열의 슬라이싱

In [33]:
# 리스트에서는 행, 열, 슬라이싱이ㅣ 동시에 안됨
l = [[1,2,3], [4,5,6], [7,8,9]]
l[:2]

[[1, 2, 3], [4, 5, 6]]

In [31]:
# 잘못된 결과가 나옴
l[:2][:2]

[[1, 2, 3], [4, 5, 6]]

In [34]:
l[1][:2]

[4, 5]

In [3]:
c = np.arange(1, 13).reshape(3, 4)
c

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [4]:
# 위 두행
c[:2]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [5]:
# 오른쪽 두 열
c[:, 2:]

array([[ 3,  4],
       [ 7,  8],
       [11, 12]])

In [8]:
# 2, 3, 6, 7
c[:-1, 1:3]

array([[2, 3],
       [6, 7]])

In [9]:
# 1, 5, 3, 7
c[:2, ::2]

array([[1, 3],
       [5, 7]])

In [12]:
m = np.array([[0, 1, 2, 3, 4],
              [5, 6, 7, 8, 9],
              [10,11,12,13,14]])

In [19]:
# 1. 이 행렬에서 값 7을 인덱싱한다.
m[1,2]

7

In [21]:
# 2. 이 행렬에서 값 14을 인덱싱한다.
m[2,-1]

14

In [55]:
# 3. 이 행렬에서 배열 [6, 7 ]을 슬라이싱한다.
m[1, 1:3]

array([6, 7])

In [54]:
# 4. 이 행렬에서 배열[7,12]을 슬라이싱한다.
m[1:, 2]

array([ 7, 12])

In [53]:
# 5 이 행렬에서 배열 [[3,4]], [8,9]]을 슬라이싱한다.
m[0:2,3::]

array([[3, 4],
       [8, 9]])

In [56]:
# 맨 마지막 열이 y, 나머지는 X
X = m[:, :-1]
y = m[:, -1]

- 배열 인덱싱(Fancy indexing)

In [70]:
# idx 값이 True/False 이면, True 값이 있는 곳의 원소만 통과(Filter)
print(a)
idx = np.array([True,False,True,True,False])
print(a[idx])

[1 2 3 4 5]
[1 3 4]

In [71]:
# 홀수만 통과 
a[a % 2 == 1]

array([1, 3, 5])

In [72]:
# 3보다 큰 수만 통과
a[a > 3]

array([4, 5])

In [73]:
# idx 값이 정수(인덱스)면 해당 인덱스의 원소가 선택됨
idx = np.array([1, 2 , 4])
a[idx]

array([2, 3, 5])

In [74]:
x = np.array([1,2,3,4,5,6,7,8,9,10,
              11,12,13,14,15,16,17,18,19,20])

In [89]:
# 1.이 배열에서 3의 배수를 찾아라.
x[x % 3 ==0]

array([ 3,  6,  9, 12, 15, 18])

In [87]:
# 2. 이 배열에서 4로 나누면 1이 남는 수를 찾아라.
x[x % 4 == 1]

array([ 1,  5,  9, 13, 17])

In [92]:
# 3. 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라
x[(x % 3 == 0) & (x % 4 ==1)]

array([9])

In [93]:
# 위의 결과는 ndarry.원소의 값을 끄집어 내려면 다시 인덱싱 해주어야함
x[(x % 3 == 0) & (x % 4 ==1)][0]

9